{% extends "base.html" %}

{% block title %}Reset Password Request - Criss Academy{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Reset Password</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
            {% for error in form.email.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
{% endblock %}
